.full-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgb(34 35 41 / 87%);
    display: flex; 
    align-items: center;
    justify-content: center; }

.full-item-form {
    border-radius: 20px;
    padding: 20px;
    background: green;
    width: 250px;
}