.item{
    max-width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 20px;
}